* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(225, 225, 225);
}
body {
  background: rgb(45, 45, 48);
}
section {
  margin-top: 45px;
}

h4 {
  padding: 4px 0;
}

#inputs {
  display: flex;
  justify-content: center;
}
input,
button {
  height: 32px;
  width: 280px;

  background: whitesmoke;
  border: none;
  border-radius: 9px;

  color: rgba(0, 0, 0, 0.95);
  text-align: center;
}
button {
  width: 188px;
  margin-left: 18px;
  cursor: pointer;
  border-radius: 999px;
}

.container {
  display: flex;
  justify-content: space-around;
}
#movesContainer,
#idsContainer,
#imgsContainer {
  width: 380px;
  max-height: 65vh;

  padding: 22px 32px;

  background: rgba(0, 0, 0, 0.25);
  border-radius: 3px;

  overflow: auto;
}
.img {
  height: 100px;
  width: 100px;

  background-repeat: no-repeat;
}
#imgsContainer {
  display: flex;
  justify-content: center;
}
